@font-face{
	font-family: "Edo";
	src: url("/font/edosz.ttf");	
}

body{
    background-color: #f8f8ff;
    color: black;
}

#araara{
    background-image: url("/images/dlc/beachdays/characters/test.png");

    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#nekoneko{
    background-image: url("/images/dlc/beachdays/characters/neko-test.png");

    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#tsuntsun{
    background-image: url("/images/dlc/beachdays/characters/tsundure-test.png");

    /* Set a specific height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header--beachdays{
    width: 100%;
}

.header-title--beachdays{
    position: absolute;
    top: 40px;
    left: 10px;
    transform: rotate(-18deg);

    font-family: "Edo";
    color: #ffeeba;
    font-size: 115px;
    text-shadow: 2px 2px #615e57;
}

.section--beachday{
    position: relative;
    min-height: 1000px;
}

.character-shadow{
    z-index: 5;
    left: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.character{
    z-index: 10;
    left: 0;
}

.character,
.character-shadow{
    height: 750px;
    width: auto;
    position: absolute;
}

.character--right
{
    left: auto;
    right: 10px;
}

.character-shadow--right{
    left: auto;
    right: 0px;
    
}

.character-name{
    position: absolute;
    left: 550px;
    top: 100px;
    font-size: 62px;
}

.character-name--right{
    position: absolute;
    right: 150px;
    top: 100px;
    font-size: 62px;
}

.character-description{
    position: absolute;
    left: 550px;
    top: 250px;
    font-size: 36px;
    padding: 25px 50px;
    margin: 25px 100px;

    background-color: rgba(51, 184, 218, 0.75);
    z-index: 0;
}

.character-description--right{
    right: 350px;
    left: auto;
    background-color: rgba(202, 90, 236, 0.75);
}