body{
    background-color: white;
}

.header--beachdays{
    width: 100%;
}

.section--beachday{
    position: relative;
    min-height: 1000px;
}

.character-shadow{
    z-index: 5;
    left: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.character{
    z-index: 10;
    left: 0;
}

.character,
.character-shadow{
    height: 1000px;
    width: auto;
    position: absolute;
}

.character--right
{
    left: auto;
    right: 10px;
}

.character-shadow--right{
    left: auto;
    right: 0px;
    
}
