@font-face{
	font-family: "Edo";
	src: url("/font/edosz.ttf");	
}

body{
    background-color: white;
}

.header--beachdays{
    width: 100%;
}

.header-title--beachdays{
    position: absolute;
    top: 40px;
    left: 10px;
    transform: rotate(-18deg);

    font-family: "Edo";
    color: #ffeeba;
    font-size: 115px;
    text-shadow: 2px 2px #615e57;
}

.section--beachday{
    position: relative;
    min-height: 1000px;
}

.character-shadow{
    z-index: 5;
    left: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.character{
    z-index: 10;
    left: 0;
}

.character,
.character-shadow{
    height: 1000px;
    width: auto;
    position: absolute;
}

.character--right
{
    left: auto;
    right: 10px;
}

.character-shadow--right{
    left: auto;
    right: 0px;
    
}
